.page {
  background: var(--Neutral-Neutral-100, #F5F5F5);
  display: flex;
  width: 100vw;
  height: 90vh;
  padding-bottom: 88px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-shrink: 0;
  padding-top: 100px;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  padding: 40px;
  gap: 40px;
  border-radius: 4px;
  background: #FFF;
  flex-shrink: 0;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 90%;
  max-width: 400px;
}

.right {
  flex: 1.5;
}

.right h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--neutral-neutral-800, #424242);
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.56px;
  align-self: stretch;


}

.right h2 {
  margin-bottom: 20px;
  color: var(--neutral-neutral-800, #424242);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.right p {
  margin-bottom: 15px;
  color: var(--neutral-neutral-800, #575555);
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
  align-self: stretch;

}

.steps {
  display: flex;
  gap: 35px;
  margin: 20px 0;
}

.step {
  text-align: center;
  color: #444;
}

.step span {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.step p {
  font-weight: 400 !important;
}

.footer-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 250px;
}

.start-btn {
  background-color: #135c94;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.start-btn:hover {
  background-color: #0f4a78;
}