
.navbar {
  height: 60px;
  background-color: #135c94;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.user {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 10px;
}

.icon {
  font-size: 18px;
}